.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #367E7F;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #3C8B8C;
}